body {
  margin: 0;
  padding: 0;
}
:root {
  --accent: #b55dff;
  --background: #fff;
  --text: #484848;
  --link: #007ac3;
  --link-hover: #0d99ed;
  --max-width: 960px;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, helvetica neue, sans-serif;
  font-size: 1em;
  color: var(--text);
}
* {
  box-sizing: border-box;
}

a {
  color: var(--link);
}
a:hover {
  color: var(--link-hover);
}
.container {
  margin: 0 auto;
  padding: 1em;
}

img {
  max-width: 100%;
}

.page-title {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3em;
  gap: 1em;
  background-image: linear-gradient(
    65deg,
    hsl(265deg 72% 57%) 0%,
    hsl(267deg 73% 58%) 10%,
    hsl(268deg 73% 58%) 19%,
    hsl(270deg 73% 58%) 27%,
    hsl(272deg 73% 59%) 35%,
    hsl(274deg 73% 59%) 42%,
    hsl(275deg 73% 59%) 50%,
    hsl(277deg 73% 59%) 59%,
    hsl(279deg 73% 59%) 70%,
    hsl(281deg 73% 60%) 83%,
    hsl(283deg 73% 60%) 100%
  );
}

.page-title h1 {
  font-size: 4em;
  color: var(--background);
  max-width: var(--max-width);
}

.page-body {
  max-width: var(--max-width);
}

.header-links {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: var(--background);
  gap: 0.6em;
}

.header-links a,
.header-links a:hover {
  color: var(--background);
}

.videos {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  width: 100%;
  overflow: hidden;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content {
  margin: 3em auto;
}
.file-download {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
}
.file-download a {
  --icon-size: 1.5em;
  align-content: center;
  max-width: 80%;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: var(--background);
  background-color: var(--accent);
  display: flex;
  flex-direction: row;
  padding: 0.5em 0.7em;
  border-radius: 0.5em;
}

.file-download a::before {
  content: "";
  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
  color: #fff;
  background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" fill="red" xmlns="http://www.w3.org/2000/svg"><path d="M11 5C11 4.44772 11.4477 4 12 4C12.5523 4 13 4.44772 13 5V12.1578L16.2428 8.91501L17.657 10.3292L12.0001 15.9861L6.34326 10.3292L7.75748 8.91501L11 12.1575V5Z" fill="white"/><path d="M4 14H6V18H18V14H20V18C20 19.1046 19.1046 20 18 20H6C4.89543 20 4 19.1046 4 18V14Z" fill="white"/></svg>')
    no-repeat center center;
}

.links-list ul,
.links-list li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links-list ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1em;
  justify-items: stretch;
  align-items: stretch;
}

.links-list a {
  font-size: 1.3em;
  color: var(--background);
  background-color: var(--accent);
  width: 100%;
  height: 100%;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: 0.5em 0.7em;
  border-radius: 0.5em;
}

footer {
  background-color: #272b30;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  padding: 2em;
  font-size: 0.9em;
}

.banner-container {
  display: none;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  color: #fff;
  background: #032769;
}

.has-countdown .banner-container {
  display: flex;
}

.banner-container > .character {
  max-height: 160px;
  align-self: flex-end;
}

.countdown-banner {
  display: flex;
  flex-direction: column;
  padding: 1.8rem 0.8rem;
  text-align: center;
}

.countdown-banner > .title {
  color: #fff;
  margin-top: 0;
  font-weight: 1000;
  margin-bottom: 1rem;
  font-size: 2.2em;
}

.countdown-banner .countdown {
  color: #78d7ff;
  font-size: 1.9rem;
  font-weight: 1000;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
}

.button-link.-tall {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.button-link.-large {
  font-size: large;
}
.button-link.-yellow {
  background-color: #ffd500;
  color: #272b30;
}
.button-link.-shadow {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.countdown-banner > a {
  margin-top: 1rem;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.button-link {
  display: inline-block;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: normal;
  font-size: 0.8em;
  font-weight: 700;
  font-family: montserrat, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #007ac3;
  border: none;
  text-decoration: none;
  color: #007ac3;
  transition: 0.2s ease-out;
}

.github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
}
