<!DOCTYPE html>
<html $if(lang)$ lang="$lang$" $endif$>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta property="og:type" content="website" />
    $if(favicon)$
    <link rel="shortcut icon" type="image/x-icon" href="$favicon$" />
    $endif$ $for(author-meta)$
    <meta name="author" content="$author-meta$" />
    $endfor$ $if(date-meta)$
    <meta name="date" content="$date-meta$" />
    $endif$ $if(title)$
    <meta property="og:title" content="$title$" />
    <meta name="twitter:title" content="$title$" />
    $endif$ $if(description)$
    <meta property="og:description" content="$description$" />
    <meta name="twitter:description" content="$description$" />
    $endif$ $if(image)$
    <meta property="og:image" content="$image$" />
    <meta name="twitter:image" content="$image$" />
    $endif$ $if(url)$
    <meta property="og:url" content="$url$" />
    $endif$ $for(css)$
    <link
      rel="stylesheet"
      href="$css$"
      $if(html5)$$else$type="text/css"
      $endif$
    />
    $endfor$
    <title>$pagetitle$</title>
  </head>
  <body class="$type$">
    <header class="title container">
      $if(is_project)$
      <img src="./icon.png" alt="logo for $title$" />
      $endif$ $if(title)$
      <h1 class="doc-title">$title$</h1>
      $endif$ $if(is_project)$
      <a class="back" href="../">Go back to project list</a>
      $endif$
    </header>
    $if(toc)$
    <header id="$idprefix$TOC" class="toc">
      <div class="well toc">$toc$</div>
    </header>
    $endif$
    <main class="container">
      $if(filename)$
      <section class="file-download">
        <a href="./artifacts/$filename$" download
          ><span>Download the project files</span></a
        >
      </section>
      $endif$ $if(videos)$
      <section class="videos">
        $for(videos)$
        <div class="video">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube-nocookie.com/embed/$videos$"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
        $endfor$
      </section>
      $endif$
      <section class="content">
        $for(include-before)$ $include-before$ $endfor$ $body$
        $for(include-after)$ $include-after$ $endfor$
      </section>
      $if(filename)$
      <section class="file-download">
        <a href="./artifacts/$filename$" download>
          <span>Download the project files</span></a
        >
      </section>
      $endif$
    </main>
    <footer>
      <a href="https://gdquest.github.io/godot-demos-2022/">Demos website</a>
      <a href="https://github.com/GDQuest/godot-demos-2022/">Demos Github</a>
      <a href="https://gdquest.itch.io/godot-demos-2022-edition">Itch</a>
      <a href="https://www.gdquest.com">Main Website</a>
    </footer>
  </body>
</html>
